@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0, 0, 0;
  --purple: 162, 154, 255;
  --white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--black));
  background: linear-gradient(to bottom, transparent, rgb(var(--white)))
    rgb(var(--purple));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
